<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Header Parser Microservice</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <h1>Header Parser Microservice</h1>
        <br>
        <div>Example usage:<br>https://neotimestamp.herokuapp.com/api/whoami/</div>
        <br>
        <div>Example output:<br>{ "ipaddress": 123.45.67.890, "language": en-US, "software": "Macintosh; Intel Mac OS X 10_11_5"}</div>
      </div>
    </div>
  </body>
</html>
